@charset "UTF-8";

/**
 * 字体
 */
//$font: Microsoft YaHe,Helverica Neue, helvetica,  "Hiragino Sans GB", verdana, sans-serif;
$font:'微软雅黑';
/**
 * 布局
 */
$header-height: 60px;
$content-width: 1200px;

/**
 * 颜色
 */
$theme: #01b7ff;

$green: #0cc2a9;
$blue: #01b7ff;
$red: #c33;
$orangeRed: #ff6e5f;
$gold: #b48804;
$yellow-light: #fff7dc;
$gray: #ccc;
$white:#fff;

$content: #333;
$content-gray: #666;
$content-light-gray: #999;
$border-color: #eee;

$bg-light: #fcfcfc;
$bg-color: #f8f8f8;
$bg-gray: #f4f4f4;

$bg-gray-d:#e9e9e9;
$bg-gray-l:#f7f7f7;
/**
 * 层级
 */
$index-header:1020;
$index-menu: 6;
$index-mask: 100;
$index-popup: 1000;
$login:1001;






