@charset "utf-8";html{background-color:#fff;color:#000;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
/* h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%} */
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
/* h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal} */
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
/* img,object,input,textarea,button,select{vertical-align:middle} */
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;-webkit-tap-highlight-color: transparent;background: #ffffff;}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;line-height: 1;-webkit-text-size-adjust: none;background: #ffffff}
/* hr {height: .02rem;margin: .1rem 0;border: medium none;border-top: .02rem solid #cacaca;} */
a {color: #25a4bb;text-decoration: none;}
*{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
input, textarea{
	-webkit-user-select:auto;
}
.van-dialog__header{
  font-family:PingFang SC;
  color: #333333;
}
.van-dialog__message{
  font-family: PingFang SC;
  color: #333333;
}
.van-dialog__confirm,.ecologMask .van-dialog__confirm:active{
  font-size:16px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(34,131,226,1);
  line-height:20px;
}
.van-dialog__cancel,.ecologMask .van-dialog__cancel:active{
  font-size:16px;
  font-family:PingFang SC;
  font-weight:400;
  line-height:20px;
  color:rgba(102,102,102,1);
}
.scale-1px:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}