@charset "UTF-8";

/**
 * Vue transitions
 */
.popup-enter-active{
    transition: all .4s ease;
    opacity: 1;
    top: 50%;
}

.popup-leave-active{
    transition: all .4s ease;
    opacity: 0;
    top: 80%;
}

.popup-enter{
    top: 10%;
}

// 向左滑出
.slide-left-enter-active{
    transition: all .4s ease;
    transform: translateX(0);
}

.slide-left-leave-active{
    transition: all .4s ease;
    transform: translateX(-100%);
}

.slide-left-enter{
    transform-origin: right;
    transform: translateX(100%);
}

// 向右滑出
.slide-right-enter-active{
    transition: all .4s ease;
    transform: translateX(0);
}

.slide-right-leave-active{
    transition: all .4s ease;
    transform: translateX(100%);
}

.slide-right-enter{
    transform-origin: left;
    transform: translateX(-100%);
}

// 向下滑入
.slide-down-enter-active{
    transition: all .4s ease;
    transform: translateY(0);
}

.slide-down-leave-active{
    transition: all .4s ease;
    transform: translateY(100%);
}

.slide-down-enter{
    transform-origin: bottom;
    transform: translateY(-100%);
}

// 向下展开收起
.slide-enter-active{
    transform: scaleY(1) rotateX(0deg);
    transition: all .2s ease;
}

.slide-leave-active{
    transform: scaleY(0) rotateX(-90deg);
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter{
    transform: scaleY(0) rotateX(90deg);
}

.popup-down{
    animation: popup-down .4s ease;
}

@keyframes popup-down{
    0%{
        top: 10%;
        opacity: 0;
    }
    70%{
        top: 60%;
        opacity: .6;
    }
    100%{
        top: 40%;
        opacity: 1;
    }
}

.popup-top{
    animation: popup-top .4s ease;
}

@keyframes popup-top{
    0%{
        top: 40%;
        opacity: 1;
    }
    50%{
        top: 30%;
        opacity: .6;
    }
    100%{
        top: 80%;
        opacity: 0;
    }
}

.opacity-enter-active{
    transition: all .4s ease;
    opacity: 1;
}

.opacity-leave-active{
    transition: all .4s ease;
    opacity: 0;
}