<template>
  <div class="loading">
    <div class="circle-box">
      <div v-for="i in 8" :key="i"></div>
    </div>
  </div>
</template>

<script type="text/babel">
export default{
  name: 'loading',
  props: {
    show: Boolean,
    text: {
      type: String,
      default: ""
    },
    position: String
  }
}
</script>

<style lang="scss" type="text/scss" rel="stylesheet/scss" scoped>
@import '../../common/scss/base/variables';
.loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 300px);
  background: rgba(0, 0, 0, .2);
}
.circle-box{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  box-sizing: border-box;

  div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    animation: loading-circle 1s infinite linear;
    &:nth-child(1){
      top: 5%;
      left: 50%;
      animation-delay: -.875s;
    }

    &:nth-child(2){
      top: 18.1801948466%;
      left: 81.8198051534%;
      animation-delay: -.75s;
    }

    &:nth-child(3){
      top: 50%;
      left: 95%;
      animation-delay: -.625s;
    }

    &:nth-child(4){
      top: 81.8198051534%;
      left: 81.8198051534%;
      animation-delay: -.5s;
    }

    &:nth-child(5){
      top: 94.9999999966%;
      left: 50.0000000005%;
      animation-delay: -.375s;
    }

    &:nth-child(6){
      top: 81.8198046966%;
      left: 18.1801949248%;
      animation-delay: -.25s;
    }

    &:nth-child(7){
      top: 49.9999750815%;
      left: 5.0000051215%;
      animation-delay: -.125s;
    }

    &:nth-child(8){
      top: 18.179464974%;
      left: 18.1803700518%;
      animation-delay: 0s;
    }
  }
}
@keyframes loading-circle{
  50%{
    opacity: .25;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
</style>
