<template>
  <div class="maskBox" v-show="isMaskFlag">
    <div class="mask">
      <div v-show="!isImgFlag">
        <img v-if="!isMsgError" src="../../modules/view/img/close.png" alt="">
        <img v-else src="../../modules/view/img/complete.png" alt="">
      </div>
      <p>{{maskMsg}}</p>
    </div>
  </div>
</template>
<script>
import { setTimeout } from 'timers';
export default {
  data() {
    return {
      isFlag: false,
      isMaskFlag: false,
      isImgFlag: false,
      isMsgError: false,
      maskMsg: ""
    }
  },
  watch:{
    isMaskFlag(){ //自动关闭弹窗
      let that = this;
      if(this.isMaskFlag){
        let timer = setTimeout(() => {
          this.isMaskFlag = false
          clearTimeout(timer);
        }, 1000)
      }
    }
  },
  methods: {
    show(isMsgError, maskMsg, isImgFlag) {
      this.isMaskFlag = true
      this.maskMsg = maskMsg
      this.isMsgError = isMsgError
      this.isImgFlag = isImgFlag ? isImgFlag : true
    }
  }
}
</script>
<style lang="scss" scoped>
  .maskBox{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    .mask{
      min-width: 60px;
      max-width: 220px;
      min-height: 18px;
      max-height: 120px;
      padding: 15px 20px;
      border-radius: 14px;
      background: rgba($color: #333333, $alpha: .6);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
      font-size: 17px;
      line-height: 18px;
      p{max-width: 220px;word-break: break-all;margin:0;padding: 0}
      img{width: 24px;height: 24px;margin-bottom: 15px;}
    }
  }
</style>